<ion-view left-buttons="leftButtons" title='um UP a mais!' id="page9" class=" " ng-init="metodoInicial('inicio^daianeEventosCtrl')">
    <ion-nav-bar>
        <ion-nav-back-button style="color: #ffffff" class="button-icon icon-left ion-ios-arrow-left">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list id="igrejaLocal-list6" class=" ">

            <ion-item class="item-icon-left" ui-sref="tabsController.metas" ng-click="">
                <i class="icon ion-stats-bars"></i>Metas</ion-item>
        
            <ion-item class="item-icon-left" ui-sref="tabsController.cardapio" ng-click="">
                <i class="icon ion-android-restaurant"></i>Cardápio da Semanal</ion-item>

            <ion-item class="item-icon-left" ui-sref="tabsController.vagas" ng-click="">
                <i class="icon ion-person-add"></i>Vagas</ion-item>

            <ion-item class="item-icon-left" ui-sref="tabsController.aniversario"  ng-click="">
                <i class="icon ion-ios-people"></i>Aniversariantes</ion-item>

            <ion-item class="item-icon-left" ui-sref="tabsController.eventos" ng-click="">
                <i class="icon ion-android-calendar"></i>Eventos</ion-item>
            
            <ion-item class="item-icon-left" ui-sref="tabsController.avisos" ng-click="">
                <i class="icon ion-clipboard"></i>Quadro de Avisos</ion-item>
            
            <ion-item class="item-icon-left" ui-sref="tabsController.fraseSemana" ng-click="">
                <i class="icon ion-ios-paper"></i>Frase da Semana</ion-item>

            <ion-item class="item-icon-left" ui-sref="tabsController.promocao" ng-click="">
                <i class="icon ion-camera"></i>Imagens</ion-item>
        </ion-list>
    </ion-content>
</ion-view>