<ion-view title="Frase da Semana" id="page9" class=" " ng-init="metodoInicial('fraseSemana^daianeEventosCtrl')">
    <ion-nav-bar>
        <ion-nav-back-button style="color: #ffffff" class="button-icon icon-left ion-ios-arrow-left">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
    <div class="card">
        <div class="item item-text-wrap">
            <p style="font-size: 22px; font-family:arial;">{{fworkEscopo.fraseSemana}}</p>
        </div>
    </div>
    </ion-content>
</ion-view>