<ion-view title="Metas" id="page3" class="" ng-init="metodoInicial('metas^daianeEventosCtrl')">
    <ion-nav-bar>
        <ion-nav-back-button style="color: #ffffff" class="button-icon icon-left ion-ios-arrow-left">
        </ion-nav-back-button>
    </ion-nav-bar>
<ion-header-bar class="bar bar-subheader">
  <button class="button button-stable" ng-click="mesAtual()">Atual</button>
  <button class="button button-stable" ng-click="mesAnterior()">Anterior</button>
</ion-header-bar>
    
<ion-content>
    
    <div class="row header">
        <h2 class=" "> </h2>
    </div>
    
    <div class="item item-divider">
        <h2 class=" ">{{fworkRetorno.tituloListagem}}</h2>
    </div>

    <div class="row header">
        <div class="col" style="text-align:left;margin-left: 5px;"><strong>Itens</strong></div>
        <div class="col"><strong>Meta</strong></div>
        <div class="col"><strong>Acum.</strong></div>
        <div class="col"><strong>%</strong></div>
    </div>
    
    <div class="row">
        <div class="col" style="text-align:left;margin-left: 5px;">Peças</div>
        <div class="col">{{fworkRetorno.metaPecas}}</div>
        <div class="col">{{fworkRetorno.totalPecas}}</div>
        <div class="col">{{fworkRetorno.percPecas}}</div>
    </div>
    
    <div class="row">
          <div class="col" style="text-align:left;margin-left: 5px;">Concertos</div>
          <div class="col"></div>
          <div class="col">{{fworkRetorno.totalConcerto}}</div>
          <div class="col">{{fworkRetorno.percConcerto}}</div>
    </div>
    
    <div class="row">
          <div class="col" style="text-align:left;margin-left: 5px;">Aproveit.</div>
          <div class="col"></div>
          <div class="col">{{fworkRetorno.totalAproveitamento}}</div>
          <div class="col">{{fworkRetorno.percAproveitamento}}</div>
    </div>

    <div class="row header">
          <div class="col" style="text-align:left;margin-left: 5px;">Seg.Qual</div>
          <div class="col"></div>
          <div class="col">{{fworkRetorno.totalSegunda}}</div>
          <div class="col">{{fworkRetorno.percSegunda}}</div>
    </div>
    
 
    <div class="row header">
        <div class="col" style="text-align:left;margin-left: 5px;"><strong>Setores</strong></div>
        <div class="col"><strong>Peças</strong></div>
        <div class="col"><strong>Defeitos</strong></div>
        <div class="col"><strong>%</strong></div>
    </div>
    <div class="row">
        <div class="col" style="text-align:left;margin-left: 5px;">Tecelagem</div>
        <div class="col">{{fworkRetorno.tecelagemPeca}}</div>
        <div class="col">{{fworkRetorno.tecelagemDefeito}}</div>
        <div class="col">{{fworkRetorno.tecelagemPercentual}}</div>
    </div>
    
    <div class="row">
        <div class="col" style="text-align:left;margin-left: 5px;">Corte</div>
        <div class="col">{{fworkRetorno.cortePeca}}</div>
        <div class="col">{{fworkRetorno.corteDefeito}}</div>
        <div class="col">{{fworkRetorno.cortePercentual}}</div>
    </div>
    
    <div class="row">
        <div class="col" style="text-align:left;margin-left: 5px;">Costura</div>
        <div class="col">{{fworkRetorno.costuraPeca}}</div>
        <div class="col">{{fworkRetorno.costuraDefeito}}</div>
        <div class="col">{{fworkRetorno.costuraPercentual}}</div>
    </div>
    
    <div class="row">
        <div class="col" style="text-align:left;margin-left: 5px;">Dobração</div>
        <div class="col">{{fworkRetorno.dobracaoPeca}}</div>
        <div class="col">{{fworkRetorno.dobracaoDefeito}}</div>
        <div class="col">{{fworkRetorno.dobracaoPercentual}}</div>
    </div>
    
    <div class="row">
        <div class="col" style="text-align:left;margin-left: 5px;">Expedição</div>
        <div class="col">{{fworkRetorno.expedicaoPeca}}</div>
        <div class="col">{{fworkRetorno.expedicaoDefeito}}</div>
        <div class="col">{{fworkRetorno.expedicaoPercentual}}</div>
    </div>
    
    </ion-content>
</ion-view>